<ion-view view-title="Chats">
  <ion-content class="has-footer">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <!--<img ng-src="{{chat.face}}">-->
        <!--<h2>{{chat.name}}</h2>-->
        <p>{{chat.text}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-positive">
    <div class="item item-input title">
      <label class="item-input">
        <input type="text" placeholder="Text" ng-model="newMessageText">
      </label>
    </div>
    <div class="buttons" >
    <button class="button" ng-click="addMessage(newMessageText)">Add Message</button>
    </div>
    </ion-footer-bar>
</ion-view>
